.btt_delete {
  &::before {
    content: url('../../static/img/trash.svg');
    position: relative;
    top: 0.188rem;
  }
}

.btt_view {
  &::before {
    content: url('../../static/img/search.svg');
    position: relative;
    top: 0.188rem;
  }
}